<div class="app-theme  p-5">
    <div class="container px-4">
        <h1 class="text-white">
            General Knowledge
        </h1>
        <p class="text-white">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laborum distinctio hic, explicabo accusantium vitae eum harum pariatur temporibus! Reprehenderit facilis temporibus, error soluta veniam provident veritatis. Nemo, itaque quasi?
        </p>
    </div>
</div>
<div class="container px-4 my-5">
    <div class="row">

        <div *ngFor="let post of posts" class="col-md-4 mt-3">
            <app-post-card [post]="post" ></app-post-card>
        </div>
         
    </div>
</div>