<div class="mt-5 card mb-5 pb-3 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">
      Comments ({{ feedback.length }})
    </h4>

    <div *ngFor="let comment of feedback">
      <div class="comment-box mt-3">
        
        <div class="d-flex">
          <img [src]="comment.photoUrl" class="profile-image  rounded-circle">
          <h6 class="mb-0 mt-3">{{comment.name}}</h6>
        </div>
        <div class="d-flex">

          <div class="rating  ">
            <span *ngFor="let star of stars; let i = index" [class.star-filled]="i <comment?.ratitng">&#9733;</span>
          </div>
          <small class="text-secondary mx-2 mt-2">13h ago</small>


        </div>

        <div class="mt-2 mb-3">
          <p>{{comment.comment}}</p>
        </div>

        <div>
          <a (click)="toggleReplies(comment)" class="mt-1 cursorBtn">{{ showReply(comment) }}</a>
          <a (click)="toggleReplies(comment)" class="mt-1 mx-3 cursorBtn">{{ showReplyText(comment) }}</a>
        </div>
        <hr>

        <div class="comment-replies mx-4" *ngIf="showComment && comment.showReplies">
          <form [formGroup]="getReplyFormGroup(comment.id)">
            <div *ngFor="let reply of getRepliesForComment(comment.id)">
              <div class="d-flex">
                <img [src]="reply.photoUrl" class="profile-image  rounded-circle">
                <h6 class="mb-0 mt-3">{{ reply.name }}</h6>
              </div>
              <small class="text-secondary">Last Updated - 2 mins ago</small>
              <div class="mt-2 mb-3">
                <p>{{ reply.comment }}</p>
              </div>
            </div>
            <div *ngIf="user">
              <div class="form-group my-2">
                <input [ngClass]="{'is-invalid': getReplyFormControl(comment.id)?.comment.invalid && getReplyFormControl(comment.id)?.comment.touched }" formControlName="comment" class="form-control" placeholder="Enter your reply"/>
                <div
                  *ngIf="getReplyFormControl(comment.id)?.comment.errors?.required && getReplyFormControl(comment.id)?.comment.touched">
                  <div class="text-danger">Field is required</div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn d-flex mt-2 btn-reply" (click)="onSubmit(comment)">Reply</button>
              </div>
            </div>
            <div *ngIf="!user">
              <p class="text-danger">You need to login to leave a reply</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>