.card{
    background-color: var(--secondary-color);
    width: 1120px;
}

input[type="text"], input[type="email"], textarea{
     height: 50px;
     padding-left: 20px;
     font-size: 13px;
     width: 100%;
}

 

.subs-text{
    width: 500px;
}
