 <section class="featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-light text-center mt-5">
                <h2>Featured Posts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3 col-sm-6 mt-4  " *ngFor="let post of posts.slice(0, 4)">
                <app-post-card [post]="post"></app-post-card>
            </div>
        </div>
    </div>
 </section>


 <section class="latest-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center mt-5">
                <h2>Latest Posts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6  mt-4" *ngFor="let post of posts.slice(4, 81111)">
                <app-post-card [post]="post"></app-post-card>
            </div>
        </div>
    </div>
 </section>
   
   