 <section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-light text-center mt-5">
                <h2>Featured Posts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
             
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-3 mt-4">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
 </section>


 <section class="latest-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center mt-5">
                <h2>Latest Posts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
             
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
            <div class="col-md-4 mt-4">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
 </section>
   
   