 <div class="mt-5">
    <div class="container mt-5 mb-5 p-5 app-theme">
        <h1 class="text-white text-center">
            About Us
        </h1>
        <div class="p-5 mt-4 app-secondary-theme app-text-theme">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut ad velit, sequi numquam dolor quibusdam iste, veritatis accusamus quam repellat praesentium temporibus atque ex ipsam officiis, sint maxime adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut ad velit, sequi numquam dolor quibusdam iste, veritatis accusamus quam repellat praesentium temporibus atque ex ipsam officiis, sint maxime adipisci.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut ad velit, sequi numquam dolor quibusdam iste, veritatis accusamus quam repellat praesentium temporibus atque ex ipsam officiis, sint maxime adipisci.</p>
<div class="text-center">
    <button class="btn btn-subs btn-sm mt-4">Back to Home</button>
</div>
        </div>
    </div>
 </div>