<div class="mt-5">
    <div class="container mt-5 mb-5 p-5 app-theme">
      <h1 class="text-white text-center">
        About Us
      </h1>
      <div class="p-5 mt-4 app-secondary-theme app-text-theme">
        <p>
          Welcome to the Commentaries App! We are dedicated to providing a platform for insightful commentaries and meaningful discussions on a wide range of topics.
        </p>
        <p>
          Our mission is to create a vibrant community where users can engage in respectful and thought-provoking conversations. Whether it's technology, sports, entertainment, or any other subject, our app offers a space to share diverse perspectives and learn from one another.
        </p>
        <p>
          At Commentaries App, we believe that every voice counts. Our goal is to foster intellectual growth, understanding, and empathy among our users. We encourage open dialogue while maintaining a positive and inclusive environment for all.
        </p>
        <p>
          Thank you for being a part of our community. Together, let's explore, learn, and grow through the power of conversation.
        </p>
        <div class="text-center">
          <button class="btn btn-subs btn-sm mt-4">Back to Home</button>
        </div>
      </div>
    </div>
  </div>
  