 <footer >
    <div class="conatiner">
        <div class="row">
            <div class=" col-md-12 text-center ">
                <div class="site-logo mx-4 "> AR Movie Server</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item" ><a href=""  class="nav-link">Home</a></li>
                        <li  class="nav-item" ><a href="about-us" class="nav-link">About</a></li>
                        <li  class="nav-item" ><a href="terms-and-condition" class="nav-link">Terms & Conditions</a></li> 
                        <li  class="nav-item" ><a href="contact-us" class="nav-link">contact</a></li>
                     </ul>
                </div>
                <div class="footer   text-center">
                    Developed By:
                    <span class="text-warning font-weight-normal">Abdur Razzak</span>
                    , Using <i class="fab fa-angular"></i> Angular 16 &amp;
                    <i class="fab fa-bootstrap"></i> Bootstrap 5
                </div>                    <p>All rights reserved &copy; 2023 AR Movie Server</p>

            </div>
        </div>

    </div>
 </footer>
