 @import "~bootstrap/dist/css/bootstrap.css";
 @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");

:root {

    --primer-color: #026467;
    --secondary-color: #E5F5EA;
    --body-text-color: #596392;
 --navbar-footer-color: #f9f9f9;
}

a{
    color: var(--primer-color);
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--body-text-color);
 }

 .site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    font-size: 1rem;
 }
 .nav-link{
    /* text-transform: uppercase; */
    color:  var(--primer-color);
}

.shadow-effect{
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(71,114,254,0.3);
}  

.app-theme{
    background-color: var(--primer-color);
}
.app-secondary-theme{
    background-color: var(--secondary-color);
}

.app-text-theme{
    color: var(--primer-color);
}

.btn-subs{
    height:50px;
     border: none;
    background-color: var(--primer-color);
    font-size: 13px;
    color: #fff;
    width: 140px;
}











