  <a href="post/details/{{post?.id}}">
   <div class="card shadow-effect">
      <img [src]="post?.imageUrl " class="card-img-top" alt="...">
   <div class="card-body">
      <small class="bg-light text-danger text-center">Design</small>
      <small class="bg-light text-success text-center mx-2">Feature</small>
  
      <small class="bg-light text-info text-center mx-2">Views : 1056</small>
      <h5 class="mt-1 title"> {{post?.title}}</h5>
      <p class="card-text description">{{post?.excerpt}}</p>
      <small class="bg-light text-muted text-center update  ">Last updated {{ createdAtFormatted }} ago</small>
  
   </div>
  
  </div>
  
  </a>